@use 'blocks/promo';
@use 'blocks/header';
@use 'blocks/buttons';
@use 'base/variables';
@use 'blocks/advantages';
@use 'blocks/titles';
@use './media.scss';
@use 'blocks/consultation';
@use 'blocks/forms';
@use 'blocks/carousel';
@use 'blocks/catalog';
@use 'blocks/feed';
@use 'blocks/footer';
@use 'blocks/modal';
@use 'blocks/pageup';


* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

