.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/consultation.jpg') center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        color: #fff;
        line-height: 1.2;
        font-weight: 500;
    }
}