.title {
    font-size: 30px;
    color: #0d0d0d;
    line-height: 1.2;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #fff;
        line-height: 1.2;
        text-align: left;
    }
}